.containerStyled {
    background-color: #FFF;

    .boxStyled {
        padding: 1rem;
    }

    .mainStyled {
        height: 100vh;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem 1rem;
    }
}