.divGeralStyled {
    margin:  2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sectionStyled {
        color: #FFF;
        display: flex;
        background-color:#272829;
        padding: 1rem;
        gap: 1rem;

        .imgStyled {
            height: 17.5rem;
        }

        .divTxtStyled {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .h1Styled {
                font-size: 2rem;
                color: #CD1818;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .pStyled {
                font-size: 1.25rem;
                line-height: 2rem;
            }
        }
    }

    .divCapitulosStyled {
        color: #FFF;

        .navLinkStyled {
            background-color: #272829;
            display: flex;
            padding: 1rem;
            border-top: solid 1px #FFF;
            font-size: 1.25rem;
            &:hover {
                color: #CD1818;
                border-top: solid 1px #CD1818;
            }
        }
    }
}

@media (max-width: 600px) {
    /* Estilos para telas menores (até 500px de largura) */

    .divGeralStyled {
        margin: 1rem;

        .sectionStyled {
            flex-direction: column;
            align-items: center;

            .imgStyled {
                height: 28rem;
            }

            .divTxtStyled {
                align-items: center;
                text-align: center;
            }
        }
    }
}