.navStyled {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0 4rem;
    box-sizing: border-box;

    .divOneStyled {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .imgStyled {
            width: 150px;
            position: relative;
            top: 5px;
        }
        
    }

    .MenuMobile {
        display: none;
    }

    .divTwoStyled {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

    }
}

@media (max-width: 600px) {
    /* Estilos para telas menores (até 500px de largura) */

    .navStyled {
        margin: 0rem;
        
        .divOneStyled {
            display: none;
        }  

        .MenuMobile {
            display: block;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .imgStyled {
                width: 150px;
                position: relative;
                top: 5px;
            }
        }

        .divTwoStyled {
            display: none;
        }
    }
}