.sectionAllStyled {
    display: flex;
    width: 100%;
    height: 90%;

    .asideStyled {
        padding: 1rem;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .adminPostMobile {
        display: none;
    }

    .containerStyled {
        background-color: #F0F0F0;
        margin-right: 2rem;
        overflow-y: scroll;

        .mainStyled {
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            justify-content: end;
            gap: 2rem;
            padding: 1rem 1rem; 
        }
    }
}

@media (max-width: 600px) {
    /* Estilos para telas menores (até 500px de largura) */

    .sectionAllStyled {
        flex-direction: column;

        .asideStyled {
            display: none;
        }

        .adminPostMobile {
            padding: 1rem;
            display: block;
        }

        .containerStyled {
            margin-right: 0;
            padding-right: 2.25rem;
        }
    }
}