.sectionStyled {
    background-color: #FFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    /* Estilos para telas menores (até 500px de largura) */

    .sectionStyled {
        background-color: #F0F0F0;
    }
}